In [1]:
import pandas as pd

In [17]:
import sqlalchemy as sly
import psycopg2
engine = sly.create_engine('postgresql+psycopg2://postgres:admin@localhost:5432/postgres')

In [2]:
dataFrame=pd.read_csv("dataset_olympics.csv")

In [16]:
print( type(dataFrame)  )

<class 'pandas.core.frame.DataFrame'>

In [11]:
def simpleCleaning(fileDerectory):
    data=pd.read_csv(fileDerectory)
    data.drop_duplicates(inplace=True)
    data.fillna("no value",inplace=True)
    return data

In [12]:
simpleCleaning("dataset_olympics.csv")

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,no value
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,no value
2,3,Gunnar Nielsen Aaby,M,24.0,no value,no value,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,no value
3,4,Edgar Lindenau Aabye,M,34.0,no value,no value,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,no value
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69995,35656,Stuart Fitzsimmons,M,19.0,no value,no value,Great Britain,GBR,1976 Winter,1976,Winter,Innsbruck,Alpine Skiing,Alpine Skiing Men's Giant Slalom,no value
69996,35656,Stuart Fitzsimmons,M,19.0,no value,no value,Great Britain,GBR,1976 Winter,1976,Winter,Innsbruck,Alpine Skiing,Alpine Skiing Men's Slalom,no value
69997,35657,"David Thomas ""Dave"" Fitzsimons",M,26.0,170.0,65.0,Australia,AUS,1976 Summer,1976,Summer,Montreal,Athletics,"Athletics Men's 10,000 metres",no value
69998,35657,"David Thomas ""Dave"" Fitzsimons",M,30.0,170.0,65.0,Australia,AUS,1980 Summer,1980,Summer,Moskva,Athletics,"Athletics Men's 5,000 metres",no value
69999,35658,Marek Fiurek,M,23.0,180.0,68.0,Czech Republic,CZE,1998 Winter,1998,Winter,Nagano,Nordic Combined,Nordic Combined Men's Team,no value

In [29]:
from math import floor

def devide_the_data(csv_porcentage,json_porcenntage,db_porcentage,data):
    handered_porcentage=csv_porcentage+json_porcenntage+db_porcentage
    if handered_porcentage>100 or handered_porcentage<100:
        print("la somme des pourcentage ne doit pas deppasser ou etre moi de 100 !")
    elif(type(data)== str):
        df=simpleCleaning(data)
        df_shuffled=df.sample(frac=1).reset_index(drop=True)
        print("shuffled",df_shuffled.head())
        total_lignes=len(df)
        csv_lignes=floor((total_lignes*csv_porcentage)/100)
        print("csv_lignes :",csv_lignes)
        json_lignes=floor((total_lignes*json_porcenntage)/100)
        print("json_lignes :",json_lignes)
        db_lignes=floor((total_lignes*db_porcentage)/100)
        print("db_lignes :",db_lignes)
        all_ligns=csv_lignes+db_lignes+csv_lignes
        rest=total_lignes-all_ligns
        if rest != 0:
            csv_lignes=csv_lignes+rest
        
        print(csv_lignes)
        
        df_csv=df_shuffled.iloc[0:csv_lignes].to_csv("sata_csv.csv",index=False)
        df_json=df_shuffled.iloc[csv_lignes:(csv_lignes+json_lignes)].to_json("dataJson.json")
        df_db=df_shuffled.iloc[(csv_lignes+json_lignes):len(df_shuffled)].to_sql("saveddata",engine, if_exists='replace',index=False)
        print("done!")
    else:
        print("something is not right")

In [30]:
# devide_the_data(csv_porcentage,json_porcenntage,db_porcentage,data)
devide_the_data(20,20,60,"dataset_olympics.csv")

shuffled       ID                            Name Sex   Age    Height    Weight  \
0  14227    George Richard Lycott Bovell   M  21.0     196.0      74.0
1   5018             Alessandro Argenton   M  39.0     172.0      63.0
2  33019               Meinhard Erlacher   M  23.0     180.0      83.0
3   8293          Charles Henry Bartlett   M  23.0  no value  no value
4  33227  Paola Milagros Espinosa Snchez   F  18.0     156.0      48.0

                  Team  NOC        Games  Year  Season      City  \
0  Trinidad and Tobago  TTO  2004 Summer  2004  Summer    Athina
1                Italy  ITA  1976 Summer  1976  Summer  Montreal
2                Italy  ITA  2006 Winter  2006  Winter    Torino
3        Great Britain  GBR  1908 Summer  1908  Summer    London
4               Mexico  MEX  2004 Summer  2004  Summer    Athina

           Sport                                            Event     Medal
0       Swimming              Swimming Men's 200 metres Freestyle  no value
1  Equestrianism  Equestrianism Mixed Three-Day Event, Individual  no value
2   Snowboarding         Snowboarding Men's Parallel Giant Slalom  no value
3        Cycling                     Cycling Men's 100 kilometres      Gold
4         Diving                       Diving Women's Springboard  no value
csv_lignes : 13923
json_lignes : 13923
db_lignes : 41770
done!